{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="intro" id="intro">
    <div class="container">
        <div class="statistics">
          <div class="container">
            <div class="stat">
              <div class="stat__item">
                <div class="stat__count">250+</div>
                <div class="stat__text">довольных клиентов</div>
              </div>
              <div class="stat__item">
                <div class="stat__count">10+</div>
                <div class="stat__text">видов начинок</div>
              </div>
              <div class="stat__item">
                <div class="stat__count">20+</div>
                <div class="stat__text">техник декора</div>
              </div>
              <div class="stat__item">
                <div class="stat__count">6+</div>
                <div class="stat__text">видов десертов к заказу</div>
              </div>
              <div class="stat__item">
                <div class="stat__count">99+</div>
                <div class="stat__text">чашек кофе ночью</div>
              </div>
            </div>
          </div>
        </div>
        <!--/.statistics-->
  </div>
  <!-- /.Container -->
</div>
<!-- /.Intro -->
{% endblock %}